esvit/
keras-unet-collection/
LeViT_UNet/
moco-v3/
nnFormer/
papers/
Swin-Unet/
SwinTransformer/
TransUNet/
vision-longformer/
xcit/
ViT-with-DINO/dino/
Pipfile
Pipfile.lock
ViT-with-DINO/dino-scratch/other
dlwpt-code/
Liver-Segmentation-Using-Monai-and-PyTorch/
tutorials/
ViT-image-classification/model
ViT-in-medical-imaging/research-contributions
ViT-in-medical-imaging/weights/model_swinvit.pt
ViT-self-supervised-learning-DINO/dino-scratch/other
ViT-in-medical-imaging/data/imagesTr/
ViT-in-medical-imaging/data/imagesTs/
ViT-in-medical-imaging/data/labelsTr/
ViT-in-medical-imaging/README_es.md
ViT-in-medical-imaging/data-private
*.lock
*.pt
ViT-in-medical-imaging/BTCV/dataset/dataset0
__pycache__
ViT-in-medical-imaging/BTCV/runs/test
ViT-in-medical-imaging/download.py