--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.21.2
torch==1.9.0+cpu
torchvision==0.10.0+cpu 
timm
streamlit
matplotlib
fastapi==0.68.1
gunicorn
uvicorn==0.15.0
python-multipart